<?php

return [
    'defaultLanguageIndex' => 4,

    'languages' => [
        'fr' => [
            'index' => 1,
            'label' => 'Français'
        ],
        'en' => [
            'index' => 2,
            'label' => 'English'
        ],
        'de' => [
            'index' => 3,
            'label' => 'Deutsch'
        ],
        'nl' => [
            'index' => 4,
            'label' => 'Dutch',
        ],
    ],

    'activeLanguages' => ['fr','en','de','nl','es','ro','it','ja','pl','pt','zh'],
];
