<?php

return array(
    'languages' => [
        1 => 'Français',
        2 => 'English',
        3 => 'Deutsch',
        4 => 'Nederlands',
        5 => 'Spanish'
    ],

    'defaultLanguageIndex' => 1,

    /* Link with (ModuleCore)
    config['languages'] = [
        'fr' => array(
            'index' => 1,
            'label' => 'Français'
        ),
        'en' => array(
            'index' => 2,
            'label' => 'English'
        ),
        'de' => array(
            'index' => 3,
            'label' => 'Deutsch'
        ),
        'ne' => array(
            'index' => 4,
            'label' => 'Nederlands',
        ),
    ]
    */

    'activeLanguages' => array('fr','en','de','ne','es')
);
