<?php

return [
    'smtp' => [
        'name'              => 'mailtrap.io',
        'host'              => 'mailtrap.io',
        'connection_class'  => 'crammd5',
        'connection_config' => [
            'username' => '******',
            'password' => '******',
        ],
    ]
];
